.brand{
    text-decoration: none;
    font-size: 24px;
    color: #8f8426;
    font-weight: bold;
}

.brand:hover{
    color: #cec03e;
}

/* navbar */
.brand p{
    font-size: medium;
}

.u_opacity
{
    background: rgba(239, 231, 158, 0.88)
}
/* navbar */

.extended_bottom
{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* jumbotron */
.jumbotron{
    /* background-image: url(img/Jumbotron1x.jpg); */
    background-size: cover;
    text-align: center;
    margin-top: 0px;
    height: 100%;
    max-height: 800px;
    width: 100%;
}

.jumbotron .display-4{
    padding-top: 400px;
    margin-top: 200px;
    font-size: 40px;
    color: white;
}

.jumbotron .lead{
    color: white;
}

.bg-1{
    background-image: url(img/jumbotron1.jpg);
}
.bg-2{
    background-image: url(img/jumbotron2.jpg);
}
.bg-3{
    background-image: url(img/jumbotron3.jpg);
}

.lead_text_container
{
    background-color: rgba(255, 255, 255, 0.5);
}

.lead_text_container2
{
    background-color: rgba(131, 131, 131, 0.3);
}

.lead_text
{
    margin-top: 12%;
    padding-bottom: 5%;
    width: 90%;
    align-items: center;
    height: auto;
}
/* jumbotron */

/* about */
#about
{
    background-color: #f7f9d2;
}
.about p{
    text-align: justify;
    font-size: 15pt;
    margin-top: 15px;
}
/* about */

/* service */
.ourService{
    margin-top: 10px;
}

/* service */

/* product & partner */
#product{
    background-color: #f7f9d2;
    padding: 40px;
}
.h-max1
{
    max-height: 90px;
    max-width: 640px;
    margin:auto;
    width: 50%;
}

.h-max2
{
    max-height: 90px;
    max-width: 400px;
    margin:auto;
    width: 50%;
}

.button_container
{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.button
{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(63, 63, 63);
    text-decoration: none;
    color: white;
    text-align: center;
    border: rgb(49, 49, 49) solid 2px;
}

.button:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(150, 150, 150);
    border: rgb(92, 92, 92) solid 2px;
}
/* product & partner */

/* laman about-staff */
.top_content
{
    margin-top: 70px;
    text-align: center;
}

.top_content h2{
    margin-bottom: 50px;
}

.table-container
{
    margin-top: 20px;
    padding: 50px;
}

.table-container tr{
    border: 2px solid;
}

.struk-img
{
    width: 100%;
    height: auto;
    max-width: 640px;
    max-height: 640px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
}
/* laman about-staff */

/* footer */
.footer-distributed{
    background-color: #d1c453;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */
.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
.footer-distributed h3 span{
    color:  #000000;
}
/* Footer links */
.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
.footer-distributed .footer-company-name{
    color:  #ffffff;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color:  #8DA41C;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}

/* Footer Right */
.footer-distributed .footer-right{
    width: 20%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer_company_part1
{
    color: white;
    font: bold 40px serif;
}

.footer_company_part2
{
    color: black;
    font: bold 40px serif;
}

.footer_motto
{
    color: white;
    font: bolder 10px sans-serif;
}

@media (max-width: 880px) {
    .footer-distributed{
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    .jumbotron
    {
        margin-top: 92px;
    }
}
/* footer */

html {scroll-behavior:smooth;}
.ToTop {
    width:50px; 
    height:50px; 
    position:fixed; 
    bottom:50px; 
    right: 50px;
    z-index:99; 
    cursor:pointer; 
    border-radius:100px; 
    transition:all .5s; 
    background: rgb(52, 52, 246) url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
    display: none;
}
.ToTop:hover {
    background:#1d2129 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

